{% extends "base.html" %}

{% block title %}
admin
{% endblock %}

{% block contentInfo %}{% endblock %}

{% block content %}
<h1>Admin</h1>
<p>tools</p>
<ul>
	<li><a target="_blank" href="https://console.cloud.google.com/cloudshell?src=ac&authuser=1&project=cohesive-beach-456&serviceId=default&duration=PT1H">console</a></li>
	<ul><li>updateapp</li><li>reshell</li></ul>
	<li><a target="_blank" href="https://console.cloud.google.com/appengine?src=ac&authuser=1&project=cohesive-beach-456&serviceId=default&duration=P30D">app engine</a></li>
	<li><a target="_blank" href="https://8085-dot-2002111-dot-24665646-dot-devshell.appspot.com/edit/edit.html#/file/workspace/blog/">editor</a></li>
	<li><a target="_blank" href="https://pythonhosted.org/Markdown/extensions/index.html">Markdown</a></li>
	<li><a target="_blank" href="http://meta.math.stackexchange.com/questions/5020/mathjax-basic-tutorial-and-quick-reference">math</a></li>
	<li><a target="_blank" href="https://analytics.google.com/analytics/web/?pli=1&authuser=1#report/defaultid/a72209344w109837699p114539530/">analysis</a></li>
</ul>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
{% endblock %}
