{% extends "base_.html" %}
{% block content %}
      <h3>Blog</h3>
      <ol>
      {% for post in blogs %}
        <li>{{ post.date.strftime('%Y %b-%d') }} <a href="{{ post.get_addr() }}">{{ post.title }}</a> | tags : {{ post.get_tags()|safe }} </li>
      {% endfor %}
      </ol>
      <h3>Page</h3>
      <ol>
      {% for post in pages %}
        <li>{{ post.date.strftime('%Y %b-%d') }} <a href="{{ post.get_addr() }}">{{ post.title }}</a> | tags : {{ post.get_tags()|safe }} </li>
      {% endfor %}
      </ol>
      <h3>Book</h3>
      <ol>
      {% for post in books %}
        <li>{{ post.date.strftime('%Y %b-%d') }} <a href="{{ post.get_addr() }}">{{ post.title }}</a> | tags : {{ post.get_tags()|safe }} </li>
      {% endfor %}
      </ol>
{% endblock %}
