{% extends "base.html" %}

{% block title %}
archives
{% endblock %}

{% block contentInfo %}
<h1><span class="glyphicon glyphicon-time" aria-hidden="true"></span> 시간으로 정렬한 모든 페이지</h1>
<p style="text-align: right">
	<a href="/archives"><span class="glyphicon glyphicon-book" aria-hidden="true"></span> 올림말로 분류한 모든 페이지</a>&nbsp;&nbsp;&nbsp;
</p>
{% endblock %}

{% block content %}
<ol>
{% for post in posts %}
    <li> {% if post.is_entity() %} {%endif%}{{ post.date.strftime('%Y %b-%d') }} <a href="{{ post.get_addr() }}">{{ post.title }}</a> {% if not post.is_entity() %}| tags : {{ post.get_tags()|safe }} {% endif %}</li>
{% endfor %}
</ol>

{% endblock %}
