<!--  http://dimplejs.org/ -->

<div id="chartContainer1">
</div>

<div id="chartContainer2">
</div>

<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="http://dimplejs.org/dist/dimple.v2.1.6.min.js"></script> 
<script type="text/javascript">
    var svg = dimple.newSvg("#chartContainer1", 400, 220);
    var data = [
      { "Word":"Hello", "Awesomeness":2000 },
      { "Word":"World", "Awesomeness":3000 }
    ];
    var chart = new dimple.chart(svg, data);
    chart.setBounds("50px", "10px", "10%", "30%"); 
    chart.addCategoryAxis("x", "Word");
    chart.addMeasureAxis("y", "Awesomeness");
    chart.addSeries(null, dimple.plot.line);
    chart.draw();

    var svg = dimple.newSvg("#chartContainer2", 800, 400);
    var data = [
      { "Word":"Hello", "Awesomeness":20 },
      { "Word":"World", "Awesomeness":30 }
    ];
    var chart = new dimple.chart(svg, data);
    chart.setBounds("50px", "50px", "10%", "30%"); 
    chart.addCategoryAxis("x", "Word");
    chart.addMeasureAxis("y", "Awesomeness");
    chart.addSeries(null, dimple.plot.bar);
    chart.draw();

</script>
