{% extends "base.html" %}

{% block title %}
{{ post.title }}
{% endblock %}

{% block javascript %}
<script type="text/javascript" async src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML"></script>
{% endblock %}

{% block contentInfo %}
<h1>{{ post.title }}</h1>

<p style="text-align: right">
{% if post.get_categorys() %}
<span class="glyphicon glyphicon-filter" aria-hidden="true"></span> 분류 : {{ post.get_categorys()|safe }} &nbsp;&nbsp;
{% endif %}
{% if post.get_tags() %}
<span class="glyphicon glyphicon-tag" aria-hidden="true"></span> 꼬리표 : {{ post.get_tags()|safe }} &nbsp;&nbsp; 
{% endif %}
{% if post.is_entity() %}
<a href="{{ post.get_addr(category) }}"><span class="glyphicon glyphicon-music" aria-hidden="true"></span> 다르게 보기</a> &nbsp;&nbsp; 
{% endif %}
{{ post.date.strftime('%Y %b-%d') }}
</p>
{% endblock %}

{% block content %}
{% if toc %}
{{ toc }}
{% endif %}
{{ content }}
<br />
<br />

<p>
{% if post.get_categorys() %}
<span class="glyphicon glyphicon-filter" aria-hidden="true"></span> 분류 : {{ post.get_categorys()|safe }}<br />
{% endif %}
{% if next_post %}
<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> 다음 : <a href="{{ next_post.get_addr(category, True) }}">{{ next_post.title }}</a>&nbsp;&nbsp;
{% endif %}
{% if pre_post %}
<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> 이전 : <a href="{{ pre_post.get_addr(category, True) }}">{{ pre_post.title }}</a>
{% endif %}
</p>

{% if post.suggest %}
<div id="suggest">
<h2><span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span> 유사한 페이지</h2>
	<ul>
	{% for suggest in post.suggest %}
	<li><a href="/page/{{ suggest | replace(' ','-')}}">{{ suggest | replace(' ','-') }}</a></li>
	{% endfor %} 
	</ul>
</div>
{% endif %}

<p>
<!--
<div class="fb-comments" data-href="http://www.freelunchplan.com{{ post.get_addr('page') }}" data-width="710px" data-numposts="5" data-colorscheme="light"></div>
-->
</p>
{% endblock %}
