{% extends "base.html" %}
{% block pcurrent %}class="current"{% endblock %}
{% block content %}
      <div id="content" class="container">

         <!-- main
         ================================================== -->
         <section id="main" class="grid9 first">

            <article>
               <h2 class="huge">{{ post.title }}</h2>
               <p class="post-info">by <span><a href="#">chulwuk</a></span> &nbsp;
                  filed in <span>
                  {% for tag in post.tags %}
                  <a href="#">{{ tag }}</a>
                  {% endfor %}
                  </span>
               </p>
               <p class="lead">
               {{ content }}
               </p>
               <p class="tags">
			         <span>Tagged in </span>:
				      <a href="#">orci</a>, <a href="#">lectus</a>, <a href="#">varius</a>, <a href="#">turpis</a>
			      </p>

               <p class="postmeta">
				      <span><a href="#">Comments (3)</a></span>
				      <span><a href="#">June 17, 2013</a></span>
                  <span><a href="#">0 likes</a></span>
                  <span><a href="#">0 tweets</a></span>
				      <span><a href="#">Edit</a></span>
			      </p>

            </article>

            <section id="comments">

               <h3>4 Responses</h3>



            </section>

            <section id="respond">

         </section> <!-- end main -->


         <!-- sidebar
         ================================================== -->
         <aside id="sidebar" class="grid3 add-margin-top">

            <h3>Text Widget</h3>

            <p>
               Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor,
               nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate
               cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a
               ornare odio.
            </p>

            <h3>Categories</h3>

            <ul class="link-list">
               <li><a href="#">Designs</a></li>
               <li><a href="#">Internet</a></li>
               <li><a href="#">Typography</a></li>
               <li><a href="#">Photography</a></li>
               <li><a href="#">Web Development</a></li>
               <li><a href="#">Projects</a></li>
               <li><a href="#">Other Stuff</a></li>
            </ul>

            <h3>Popular Post</h3>

            <ul class="popular-list">
			   	<li><a href="#">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
						<span>June 22, 2013</span></a>
					</li>
                <li><a href="#">Cras fringilla magna. Phasellus suscipit.
						<span>June 20, 2013</span></a>
					</li>
                <li><a href="#">Morbi tincidunt, orci ac convallis aliquam.
						<span>June 15, 2013</span></a>
					</li>
                <li><a href="#l">Ipsum dolor sit amet, consectetuer adipiscing elit.
						<span>June 14, 2013</span></a>
					</li>
				</ul>

         </aside> <!-- end sidebar -->

      </div>
{% endblock %}
